%h1
  Welcome to MP3 Manager

%h2
  Things you can do:
  
  %ul
    %li
      = link_to "Manage your MP3 list - view, add, delete, rate your mp3s", mp3tunes_path
    %li
      = link_to "Generate your Playlist", new_playlist_path