%h1 New playlist

%p You can filter your playlist by Artist Name or Minimum Rating, or both.  To see  a list of artists or ratings, click the checkbox.

%p 
  The playlist format will be 
  %b 
    Extended M3U Format

= render 'form'

= link_to 'Back', "/"
